body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}
* {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white ;
    letter-spacing: 1px;
}
body{
    background-color: #181818;
    font-size: 14px;
    min-width: 720px;
}
#nowPlayingBarContainer{
    width: 100%;
    bottom: -1px;
    background-color: #272727;
    position: fixed;
    min-width: 620px;
}
#nowPlayingBar{
    height: 90px;
    padding: 16px;
    display: flex;
    box-sizing: border-box;
}
#nowPlayingLeft,#nowPlayingRight{
    width: 30%;
    min-width: 180px;
}
#nowPlayingRight{
    position: relative;
    margin-top: 10px;
}
#nowPlayingLeft .albumArt{
    height: 100%;
    margin-right: 15px;
    float: left;
    max-width: 57px;
    background-size: cover;
}
#nowPlayingLeft .trackInfo{
    display: table;
}
#nowPlayingLeft .trackInfo .trackName {
	margin: 6px 0;
    display: inline-block;
    width: 100%;
}
#nowPlayingLeft .trackInfo .artistName span {
	font-size: 12px;
    color: #afadad;
}
#nowPlayingCenter{
    width: 40%;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
#nowPlayingBar .content{
    width: 100%;
    height: 57px;
}
.playerControls .buttons{
    margin: 0 auto;
    display: table;
}
.controlButton{
    background-color: transparent;
    border: none;
    vertical-align: middle;
    padding: 3px;
}
.controlButton img{
    width: 20px;
    height: 20px;
}
.controlButton.play img,
.controlButton.pause img{
    width: 32px;
    height: 32px;
}
.controlButton:hover{
    cursor: pointer;
}
.progressTime{
    color: #a0a0a0;
    text-align: center;
    min-width: 40px;
    font-size: 12px;
}
.playBackBar{
    display: flex;
}
.progressBar{
    width: 100%;
    display: inline-flex;
    height: 12px;
    cursor: pointer;
}
.progressBarBackground{
    background-color: #757474;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}
.progress{
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}
.playBackBar .progressBar{
    margin-top: 4px;
}
.volumeBar{
    width: 180px;
    position: absolute;
    right: 0;
}
.volumeBar .progressBar{
    width: 125px;
}
.volumeBar button{
    margin-top: 7px;
}
#topContainer{
    min-height: 100%;
    width: 100%;
}
#navBarContainer{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
}
.navBar{
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}
.logo img{
    width: 38px;
    margin-bottom: 10px;
}
.navBar .group{
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}
.navItem{
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    position: relative;
}
.navItemLink{
    color: #afaaaa;
    text-decoration: none;
}
.navItemLink:hover{
    color: white;
}
.navItemLink .icon{
    position: absolute;
    right: 7px;
    top: 7px;
    width: 22px;
}
#mainViewContainer{
    margin-left: 240px;
    padding-bottom: 90px;
    width: calc(100%-220px);
}
#mainContent{
    padding: 0px 20px;
}
#mainContent h1{
    background: -webkit-linear-gradient(45deg, #7e97a7, #a1bfae);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pageHeading{
    padding: 0px;
    text-align: center;
}
.gridViewItem{
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 7px;
}
.gridViewItem img{
    height: 170px;
    width: 200px;
    background-size: contain;
    resize: both;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gridViewItem img:hover{
    -webkit-transform: scale(0.9);
	transform: scale(0.9);

    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.gridViewInfo{
    font-weight: 400;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gridViewItem a{
    text-decoration: none;
}
.entityInfo{
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}
.entityInfo .leftSection{
    width: 30%;
    float: left;
    max-width: 250px;
}
.leftSection img{
    height: 210px;
    width: 220px;
    background-size: contain;
    resize: both;
}
.entityInfo .rightSection{
    width: 70%;
    float: left;
    padding: 5px 10px 5px 0px;
    box-sizing: border-box;
}
.entityInfo .rightSection h2{
    margin-top: 0px;
}
.entityInfo .rightSection p{
    color: #a7a7a7;
    font-weight: 300;
}